<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li class="text-muted">订单详情 /  订单详情</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">订单号：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="userid" value="{$info.ordernum}">
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">订单号：</label>
                                                <div class="right">
                                                    {$info.ordernum}
                                                </div>
                                            </div>
                                            
                                            <div class="form-group item_title ">
                                                <label class="left control-label">会员ID：</label>
                                                <div class="right">
                                                    {$info.uid}
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">类型：</label>
                                                <div class="right">
                                                   <if condition="$info.class eq 1">
                                                       微信
                                                       <elseif condition="$info.class eq 2"/>
                                                       支付宝
                                                       <else/>
                                                       银行卡
                                                   </if>
                                                </div>
                                            </div>
                                            <!-- 手动 -->
                                            <if condition="$info.umoney eq '0.00'">
                                                <div class="form-group item_title ">
                                                    <label class="left control-label">本金</label>
                                                    <div class="right">
                                                       {$info.price}
                                                    </div>
                                                </div>
                                                <if condition="$info.class eq 3">
                                                    <div class="form-group item_title ">
                                                        <label class="left control-label">银行卡号码</label>
                                                        <div class="right">
                                                            {$bank[0]['banknum']}
                                                        </div>
                                                    </div>
                                                    <div class="form-group item_title ">
                                                        <label class="left control-label">银行昵称</label>
                                                        <div class="right">
                                                            {$bank[0]['bankname']}
                                                        </div>
                                                    </div>
                                                    <div class="form-group item_title ">
                                                        <label class="left control-label">开户人</label>
                                                        <div class="right">
                                                            {$bank[0]['name']}
                                                        </div>
                                                    </div>
                                                    <else/>
                                                    <div class="form-group item_title ">
                                                        <label class="left control-label">收款二维码</label>
                                                        <div class="right">
                                                            <img src="{$ewm[0]['ewm_url']}" alt="">
                                                        </div>
                                                    </div>
                                                </if>
                                                <else/>
                                                <!--自动-->
                                                <foreach name="info['first']" item="vo" key="key">
                                                    <div class="form-group item_title ">
                                                        <label class="left control-label">本金</label>
                                                        <div class="right">
                                                            {$vo.price}
                                                        </div>
                                                    </div>
                                                    <if condition="$info.class eq 3">
                                                        <div class="form-group item_title ">
                                                            <label class="left control-label">银行卡号码</label>
                                                            <div class="right">
                                                                <if condition="empty($bank[$key])">
                                                                    {$bank[0]['banknum']}
                                                                    <else/>
                                                                    {$bank[$key]['banknum']}
                                                                </if>
                                                            </div>
                                                        </div>
                                                        <div class="form-group item_title ">
                                                            <label class="left control-label">银行昵称</label>
                                                            <div class="right">
                                                                <if condition="empty($bank[$key])">
                                                                    {$bank[0]['bankname']}
                                                                    <else/>
                                                                    {$bank[$key]['bankname']}
                                                                </if>
                                                            </div>
                                                        </div>
                                                        <div class="form-group item_title ">
                                                            <label class="left control-label">开户人</label>
                                                            <div class="right">
                                                                <if condition="empty($bank[$key])">
                                                                    {$bank[0]['name']}
                                                                    <else/>
                                                                    {$bank[$key]['name']}
                                                                </if>
                                                            </div>
                                                        </div>
                                                        <else/>
                                                        <div class="form-group item_title ">
                                                            <label class="left control-label">收款二维码</label>
                                                            <div class="right">

                                                                <if condition="empty($bank[$key])">
                                                                    <img src="{$ewm[0]['ewm_url']}" style="width: 200px;" alt="">
                                                                    <else/>
                                                                    <img src="{$ewm[$key]['ewm_url']}" style="width: 200px;" alt="">
                                                                </if>

                                                            </div>
                                                        </div>
                                                    </if>
                                                </foreach>
                                            </if>
                                        <div class="form-group"></div>
                                        <!--<div class="form-group bottom_button_list">-->
                                            <!--<a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>-->
                                            <!--<a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>-->
                                        <!--</div>-->
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>